body {
  margin: 0
}

/* Exo margin */
section{
  background-color: #4da6ff;
}
h2{
  background-color: yellow;
  border: black solid 2px;
  size: 300px; 
}
.premierH2{
  margin: 50px;
}
.deuxiemeH2{
  margin-left: 20%;
}
.troisiemeH2{
  margin: auto;
}
/* fin exo margin */

/* exo padding */
.quatriemeH2{
  
}
/* fin exo padding */

/* exo display */
/* fin exo display */

/* exo position */
/* fin exo position */

/* exo position (priorité) */
/* fin exo position (priorité) */